@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;900&display=swap');
:root {
    --background: #f2f4f8;
    --primary: #FF9E20 ;
    --primary-border: #a2e2ff;
    --secondary:#021826;

    --text: #424242;
    --love-text: #d12026;
    --muted-text: rgba(126, 125, 125, 0.932);
    --context-text: #6597b2;

    --button: #0091d4;

    --card-background: #fff;
    --card-hover: rgba(220, 233, 255, 0.48);
    --table-separator: #dee2e6;
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:.95rem;
}

.signin-signup{
    background: var(--background);
}

.signin-signup .row{
    margin-top:10%;
}
.white-bg{
    background: #fff;;
}

.p-color{
    color:var(--primary);
}

.s-color{
    color:var(--secondary);
}
.shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.shadow-tw{
    box-shadow:0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
}

.border-radius-tw{
      border-radius:.375rem;
}

.auth{
     background: #fff;
    padding:45px 45px 0px 45px;
    border-radius:.375rem;
}

.auth .btn-link{
    font-size: .95rem;
}

.auth h4{
    font-size:1.5rem;
    font-weight: 900;
    color:var(--secondary);
}
/*=================
===== LOGIN =======
===================*/

.login{
    background: #fff;
    padding:45px 45px 0px 45px;
    border-top-left-radius: .375rem;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: .375rem;
  
    /* padding: 45px; */
}
.login .btn-link{
    font-size: .95rem;
}

.login h4{
    font-size:1.5rem;
    font-weight: 900;
    color:var(--secondary);
}

.register{
    font-size: .95rem;
    text-align: center;
    margin-top:20px;
}

.login-footer{
    font-size: .95rem;
    margin-top:60px;
    color:var(--muted-text)
}
.form-control:focus{
    outline: 0;
    border-color:var(--secondary) !important;
    box-shadow: none !important
}
.form-control{
    height: 40px !important;
    background-color: #fff !important;
    /* border-radius: 0 !important; */
}

.form-group label{
    font-size:.95rem;
}

.form-group {
        margin-bottom: 1rem;
}
.form-group.row{
    margin-top:.51rem;
    /* border:1px solid; */
}
button.new{
    height: 40px;
    font-size: 1rem !important;
    background: #FF9E20 ;
    border:#FF9E20;
    color:#fff;
}
/* 
button. hover{
    background:#ce7b10 !important;
} */

.side-img img{
   border-top-left-radius: 0;
   border-top-right-radius: .375rem;
   border-bottom-right-radius: .375rem;
   border-bottom-left-radius: 0;

}

.copyright{
    text-align:center;
    color:#7f7e7e;
    font-size:.9rem;
    margin-top:1rem;

}

.copyright a{
    color:var(--secondary);
    font-weight:400;
}